ai flow.json
[
    {
        "id": "d4da0c0d.fde1b",
        "type": "tab",
        "label": "Life expectancy",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0ab6c30.bfb98",
        "type": "function",
        "z": "d4da0c0d.fde1b",
        "name": "PreToken",
        "func": "global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\nvar apikey=\"8TLFAIPpZbaIvTZDd-rhaowdf-VcPZnrMiY8EFmqjKC6\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 255,
        "y": 316.0000047683716,
        "wires": [
            [
                "17f78ec3.06d841"
            ]
        ]
    },
    {
        "id": "17f78ec3.06d841",
        "type": "http request",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://iam.cloud.ibm.com/identity/token",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 454,
        "y": 305,
        "wires": [
            [
                "c895f2b1.aa53a"
            ]
        ]
    },
    {
        "id": "5c5f2b56.ab04e4",
        "type": "inject",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100.5,
        "y": 230.00000286102295,
        "wires": [
            [
                "e0ab6c30.bfb98"
            ]
        ]
    },
    {
        "id": "cc73e50f.ea56c8",
        "type": "debug",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 893.0000114440918,
        "y": 47.00000190734863,
        "wires": []
    },
    {
        "id": "c895f2b1.aa53a",
        "type": "function",
        "z": "d4da0c0d.fde1b",
        "name": "Pre Prediction",
        "func": "var a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\nvar token=msg.payload.access_token\nvar instance_id=\"25673d21-fefd-4fe2-8394-82dbc908c5b9\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 651.0000076293945,
        "y": 268.00000381469727,
        "wires": [
            [
                "e7c2c5c6.61dda8"
            ]
        ]
    },
    {
        "id": "e7c2c5c6.61dda8",
        "type": "http request",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "https://us-south.ml.cloud.ibm.com/v4/deployments/ece501c2-e274-4a81-8112-d8a7b2b2fad4/predictions",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 910,
        "y": 300,
        "wires": [
            [
                "3f2504bb.883efc"
            ]
        ]
    },
    {
        "id": "d0f065ff.7d99c8",
        "type": "ui_form",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "label": "Life Expectancy Prediction",
        "group": "603fdefe.e0c6f",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Country",
                "value": "a",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "b",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Status",
                "value": "c",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Adult Mortality",
                "value": "d",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "infant deaths",
                "value": "e",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Alcohol",
                "value": "f",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "percentage expenditure",
                "value": "g",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Hepatitis B",
                "value": "h",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Measles",
                "value": "i",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "BMI",
                "value": "j",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "under- five deaths",
                "value": "k",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Polio",
                "value": "l",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Total expenditure",
                "value": "m",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Diptheria",
                "value": "n",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "HIV/AIDS",
                "value": "o",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "GDP",
                "value": "p",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Population",
                "value": "q",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 1-19 years",
                "value": "r",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "thinness 5-9 years",
                "value": "s",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Income composition of resources",
                "value": "t",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Schooling",
                "value": "u",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "a": "",
            "b": "",
            "c": "",
            "d": "",
            "e": "",
            "f": "",
            "g": "",
            "h": "",
            "i": "",
            "j": "",
            "k": "",
            "l": "",
            "m": "",
            "n": "",
            "o": "",
            "p": "",
            "q": "",
            "r": "",
            "s": "",
            "t": "",
            "u": ""
        },
        "payload": "",
        "submit": "Predict",
        "cancel": "Edit",
        "topic": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "e0ab6c30.bfb98"
            ]
        ]
    },
    {
        "id": "bff18711.c68778",
        "type": "ui_text",
        "z": "d4da0c0d.fde1b",
        "group": "603fdefe.e0c6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Prediction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 700,
        "y": 400,
        "wires": []
    },
    {
        "id": "3f2504bb.883efc",
        "type": "function",
        "z": "d4da0c0d.fde1b",
        "name": "",
        "func": "msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 604.6000366210938,
        "y": 107.60000610351562,
        "wires": [
            [
                "cc73e50f.ea56c8",
                "bff18711.c68778"
            ]
        ]
    },
    {
        "id": "603fdefe.e0c6f",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "7e66a26a.87b62c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7e66a26a.87b62c",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]