flows.json
[{"id":"457f0f18.d9736","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4d1090d7.65ef4","type":"ui_form","z":"457f0f18.d9736","name":"","label":"","group":"33c26fee.e4579","order":2,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Phone Number","value":"phno","type":"number","required":true,"rows":null},{"label":"College Name","value":"clg","type":"text","required":true,"rows":null},{"label":"Year of study","value":"yr","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","phno":"","clg":"","yr":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":120,"wires":[["5d3939f0.5eb0c8"]]},{"id":"5d3939f0.5eb0c8","type":"function","z":"457f0f18.d9736","name":"Farm Parsing","func":"msg.payload=\"Thank you!\"+msg.payload.name+\".Form Submitted succesfully.\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["614cbfe4.b2c03","12b50ddd.11ec42"]]},{"id":"614cbfe4.b2c03","type":"debug","z":"457f0f18.d9736","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":600,"y":120,"wires":[]},{"id":"12b50ddd.11ec42","type":"ui_text","z":"457f0f18.d9736","group":"33c26fee.e4579","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":240,"wires":[]},{"id":"33c26fee.e4579","type":"ui_group","z":"","name":"Student","tab":"f2876f.86d4c89","order":1,"disp":true,"width":"6","collapse":false},{"id":"f2876f.86d4c89","type":"ui_tab","z":"","name":"Management","icon":"Management","order":1,"disabled":false,"hidden":false}]